proto_doc/dbl_2_3/briefing_papers/DBLMetadata23.log
proto_doc/dbl_2_3/briefing_papers/SB01RFC.log
**/_build
**/build

# IDE artifacts
.vscode
sample.xpr

# XML validate artifacts
docs/schema/metadata.rng
