node_modules
proto_doc/dbl_2_3/briefing_papers/DBLMetadata23.log
proto_doc/dbl_2_3/briefing_papers/SB01RFC.log

# build artifacts and language support
node_modules
**/_build
**/build
.python-version

# IDE artifacts
.vscode
sample.xpr

# XML validate artifacts
docs/schema/metadata.rng

# Emacs files
*~
\#*\#
.\#*

# Mac OSX artifacts
.DS_Store
